/* Styles par défaut pour grands écrans */

.AffichageSuperieur {
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 25px;
    background-color: whitesmoke;
    min-width: 65%;
    border: solid 1px black;

}

.AffichageTitre {
    text-align: center;
    margin: 0px 80px 0 15px;
    font-size: 18px;
}


.AffichageGauche,
.AffichageDroite {
    display: flex;
    flex-direction: column;
}

.AffichageDroite {
    display: none;
}


.AffichageDeuxButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ButtonAffichageSousResult,
.AffichageButtonSousReset {
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0 10px 0;
}

.ButtonAffichageSousResult:hover,
.AffichageButtonSousReset:hover {
    background-color: #007BFF;
}


/* Styles pour les écrans plus petits (jusqu'à 768px) */

@media (max-width: 500px) {

    .AffichageSuperieur {
        width: 100%;
        height: 100%;


    }

    .AffichageTitre {
        text-align: center;
        font-size: 14px;
        margin: 0px 30px 0 30px;
    }

    .AffichageGauche,
    .AffichageDroite {
        flex-direction: column;
        padding: 10px;
    }

    .AffichageDeuxButton {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .AffichageDeuxButton {
        display: flex;
        flex-direction: row;
        padding: 5px;
        margin: 0 5px 0 5px;
    }

}