/* aspect general */
.left-column-trading-left-column,
.right-column-trading-results-section {
    background-color: rgb(183, 181, 181);
    border: solid 1px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/* Choix mode spot ou levier */
.trading-form {
    align-items: center;
    margin: 10px 5px 0 5px;
    border: solid 2px black;
    border-radius: 8px;

}

.trading-choice,
.lever-choice,
.lever-input-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: under;

}

.trading-option {
    align-items: center;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.trading-label,
.lever-label {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.trading-radio {
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

/* Choix long/short */

.block_levier {
    align-items: center;
    margin: 20px 5px 0 5px;
    border: solid 2px black;
    border-radius: 8px;

}

.lever-option {
    align-items: center;
    margin: 0 150px 0 150px;
    display: flex;
    justify-content: space-evenly;
}

.lever-radio {
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

/* levier range */

.range-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}


/* BUTTON LEVIER */
.lever-range-option {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lever-buttons-wrapper {
    margin: 0 15px 0 15px;
}

.lever-button {
    justify-content: space-around;
    font-size: 20px;
}


/* RANGE LEVIER */
.rangelevier {
    margin-top: 5px;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.levier-range2 {
    width: 100%;
    font-size: 20px;
    height: 80px;
}

.lever-value-display {
    font-size: 20px;
    font-weight: 300;
}


/* InputClass */

.InputClass {
    margin: 10px 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 8px;

}

.trading-input-wrapper,
.stoploss-input-wrapper,
.stoploss-toggle-wrapper {
    margin-bottom: 1rem;
    position: relative;
    width: 90%;
    margin-top: 5px;
}

.trading-input,
.stoploss-input {

    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
}

.stoploss-toggle {
    margin-right: 0.5rem;
}


.stoploss-toggle-label {
    font-size: 1rem;
}

.multiplicator-indicator {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

/* Style pour les résultats de trading */
.trading-result {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

/* Style pour les messages d'erreur */
.trading-error {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: red;
}