/* Styles par défaut pour les grands écrans */
.mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: whitesmoke;
    width: 69%;
}


.mode-selection {
    display: flex;
    flex-direction: row;
    position: relative;
}

.Logo {
    position: absolute;
    right: -170px;
    top: 55%;
    transform: translateY(-50%);
}


.twitter-icon {
    color: blue;
    font-size: 25px;
}

/* .medium-icon {
    color: black;
    font-size: 25px;
} */



.mode-radio:checked+.mode-label {
    background-color: #007BFF;
    color: white;
    border-radius: 0.25rem;
}

.mode-radio {
    display: none;
}

.mode-label {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    min-width: 120px;
    max-width: 100px;
}

.mode-label:hover {
    background-color: #f0f0f0;
}

.mode-label:focus-within {
    box-shadow: 0 0 3px #007BFF;
}

.mode-radio:checked+.mode-label::after {
    content: " ✔️";
}

.top-bar {
    display: none;
}


.twitter-icon-menu {
    display: none;
}

.medium-icon-menu {
    display: none;
}

/* Mode pour le button */
.menu-button {
    display: none;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.menu-button-checkbox {
    display: none;
}