.AffichagePageEntiere {

    width: 71.5%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.AffichageGauche,
.AffichageDroite {
    border: 1px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    margin: 20px;
}

.AffichageDiv {
    
    margin-left: 55px;
}

.AffichageDeuxButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.ButtonAffichageSousResult,
.AffichageButtonSousReset {
    background-color: #fff;
    border: 1px solid #0d172a;
    border-radius: 1.5rem;
    
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ButtonAffichageSousResult:hover {
    background-color: #1e293b;
    color: #fff;
}


.AffichageButtonSousReset:hover {
    background-color: #1e293b;
    color: #fff;
}



@media screen and (max-width: 500px) {
    .Général {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .AffichagePageEntiere {
        width: 100%;
        height: 100vh;
        text-align: center;
        margin-top: 50px;

    }

    .AffichageGauche {
        border: 2px solid black;
        border-radius: 8px;
        background-color: whitesmoke;
    }

    .AffichageDroite {
        border: 2px solid black;
        border-radius: 8px;
        background-color: whitesmoke;
        margin-top: 20px;
    }


    .AffichageDeuxButton {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding: 5px;
        margin: 0 5px 0 5px;
    }


    
 
    
    @media (max-width: 600px) {

        footer {
            position: fixed;
        }

        footer p {
            font-size: 0.9rem;
            padding-right: 5px;
        }
    
        footer img {
            height: 40px;
        }
    }

    .Responsive-logo-icon-menu {
        height: auto;
        width: 100px; 
        max-width: 100%; 
    }
    
    @media (max-width: 600px) {
        .Responsive-logo-icon-menu {
            width: 50px; 
        }
    }
    
    @media (min-width: 1200px) {
        .Responsive-logo-icon-menu {
            width: 150px;
        }
    }
    

}