@media screen and (max-width: 500px) {
    .Général {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .AffichagePageEntiere {
        width: 100%;
        height: 100vh;
        text-align: center;
        margin-top: 50px;

    }

    .AffichageGauche {
        border: 2px solid black;
        border-radius: 8px;
        background-color: whitesmoke;
    }

    .AffichageDroite {
        border: 2px solid black;
        border-radius: 8px;
        background-color: whitesmoke;
        margin-top: 20px;
    }








}