@media (max-width: 500px) {



    /* 
##############################################################
##                                                          ##
##                      Affichage                           ##
##                                                          ##
##############################################################
*/

    .AffichageSuperieur {
        width: 100%;
        height: 100%;

    }

    .AffichageTitre {
        text-align: center;
        font-size: 14px;
        margin: 0px 30px 0 30px;
    }

    .AffichageGauche,
    .AffichageDroite {
        flex-direction: column;
        padding: 10px;
    }

    .AffichageDeuxButton {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .AffichageDeuxButton {
        display: flex;
        flex-direction: row;
        padding: 5px;
        margin: 0 5px 0 5px;
    }



    /* 
##############################################################
##                                                          ##
##                      MODE                                ##
##                                                          ##
##############################################################
*/


    .mode-container {
        border: none;

    }


    .mode-selection {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        padding: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        background-color: black;

    }


    .twitter-icon {
        display: none;
    }

    .medium-icon {
        display: none;
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    }

    .menu-button {
        display: block;
        background-color: #3498db;
        color: white;
        margin-left: -28px;
        padding: 8px 15px;
        border: none;
        border-radius: 14px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .menu-button:hover {
        background-color: #2980b9;
    }


    .twitter-icon-menu {
        color: blue;
        font-size: 25px;
        margin-right: auto;
        position: relative;
        right: -25px;
        margin-top: 5px;
    }

    .medium-icon-menu {
        color: black;
        font-size: 25px;
        margin-right: auto;
        position: relative;
        right: -18px;
        margin-top: 5px;
    }

    .menu-button-checkbox:checked~.mode-selection {
        display: flex;
    }

    .mode-radio {
        display: none;
    }

    .mode-label {
        margin-right: 0;
        margin-bottom: 35px;
        font-size: 18px;
        padding: 10px;
        color: white;
        border-bottom: 1px solid #ccc;
    }

    .mode-label:last-child {
        border-bottom: none;
    }



    /* 
##############################################################
##                                                          ##
##                      PAGE                                ##
##                                                          ##
##############################################################
*/


    .rangelevier {
        width: 55%;
    }

    .block_levier {
        width: 85%
    }

    .trading-form {
        align-items: center;
        margin: 0 150px 0 150px;
        display: flex;
        justify-content: space-evenly;
    }
}