@media screen and (max-width: 500px) {
    .Composent_Generaux_Radio {
        align-items: center;
    }

    .Composent_SpotLevier_Radio {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Composent_Generaux_Text,
    .Radio {
        font-size: 0.9rem;
        margin: 8px;
    }

    .Composoent_LevierButton {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .Composent_Trading_Button {
        margin-bottom: 20px;
        display: flex;
    }

    .Composent_TradingButton_Selection {
        font-size: 15px;
        padding: 0 20px 0 20px;
    }


    .Composent_Tranding_Range_General {
        text-align: center;
    }

    .Composent_Trading_Range {
        font-size: 20px;
    }

    .Composent_Input_ClassBOX {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }
}