.Radio_Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Composent_Generaux_Radio {
   
    width: 100%;
    margin: 0;
    font-size: 1rem;
    

}

.Composent_SpotLevier_Radio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 20px;
    
    font-size: 1rem;
    
}



.Composent_Generaux_Text {
    font-size: 1.1rem;
   margin-left: 20px;
   margin-right: 20px;
    width: 60px;
}

input[type='radio']:after { 
    width: 15px;
    height: 15px; 
    border-radius: 15px; 
    top: -2px; 
    left: -1px; 
    position: relative; 
    background-color: #d1d3d1; 
    content: ''; 
    display: inline-block; 
    visibility: visible; 
    border: 2px solid white; 
} 
input[type='radio']:checked:after { 
    width: 15px; 
    height: 15px; 
    border-radius: 15px; 
    top: -2px; left: -1px; 
    position: relative; 
    background-color: #1e293b; 
    content: ''; 
    display: inline-block; 
    visibility: visible; 
    border: 2px solid white; }





.Composoent_LevierButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.Composent_Trading_Button {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Composent_Staking_Button {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 85%;
}

.Composent_TradingButton_Selection {
    font-size: 20px;
    margin: 0px 9px 0px 9px;
    flex-grow: 1;
    max-width: calc(100% / 4);
    white-space: nowrap;
    width: 80px;
    text-align: center;
}

.Composent_TradingButton_Selection_Staking {
    font-size: 14px;
    margin: 0px 15px 0px 15px;
    flex-grow: 1;
    max-width: calc(100% / 4);
    white-space: nowrap;
}

.Composent_Tranding_Range_General {
    text-align: center;
    
    margin: 0 auto;
    width: 90%;
}

.Composent_Trading_Range {
    width: 90%;
    margin: 0 auto;
    display: block;

}

input[type=range] {
    height: 25px;
    background-color: whitesmoke;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #50555C;
    background: #1e293b;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 10px #000000;
    border: 2px solid #000000;
    height: 17px;
    width: 17px;
    border-radius: 25px;
    background: #1e293b;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    
    box-shadow: 0px 0px 0px #50555C;
    background: #50555C;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 10px #000000;
    border: 2px solid #000000;
    height: 17px;
    width: 17px;
    border-radius: 25px;
    background: #000000;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 10px #000000;
    border: 2px solid #000000;
    height: 17px;
    width: 17px;
    border-radius: 25px;
    background: #000000;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
  }
  
.Composent_Trading_LevierValue {
    font-size: 1.3rem;
}

.Composent_Capitilusation_General {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.Composent_AutoCompound {
    margin-top: 10px;
}



.Composent_ClassBOX {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.Composent_Class_Selection,
.stoploss-input-wrapper,
.stoploss-toggle-wrapper {
    position: relative;
    width: 90%;
    margin: 5px 20px 5px 10px;
}

.Composent_Class_Input,
.stoploss-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
}

.stoploss-toggle {
    margin-right: 0.5rem;
}


.stoploss-toggle-label {
    font-size: 1rem;
}

.multiplicator-indicator {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}






@media screen and (max-width: 500px) {
    .Radio_Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Composent_Generaux_Radio {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .Composent_SpotLevier_Radio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .Composent_Generaux_Text {
        font-size: 0.9rem;
        margin: 8px;
        min-width: 80px;
    }

    .RadioButtonLongShort {
        margin: 20px;
       
    }


    .Composoent_LevierButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .Composent_Trading_Button {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .Composent_Staking_Button {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        width: 85%;
    }

    .Composent_TradingButton_Selection {
        font-size: 15px;
        padding: 0 20px 0 20px;
        flex-grow: 1;
        max-width: calc(100% / 4);
    }

    .Composent_TradingButton_Selection_Staking {
        font-size: 14px;
        margin: 0px 9px 0px 5px;
        flex-grow: 1;
        max-width: calc(100% / 4);
        white-space: nowrap;
    }

    .Composent_Tranding_Range_General {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .Composent_Trading_Range {
        width: 90%;
        margin: 0 auto;
        display: block;
    }


    .Composent_Capitilusation_General {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    .Composent_AutoCompound {
        margin-top: 10px;
    }



    .Composent_ClassBOX {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
    }

    .Composent_Class_Selection,
    .stoploss-input-wrapper,
    .stoploss-toggle-wrapper {
        position: relative;
        width: 90%;
        margin: 5px 20px 5px 10px;
    }

    .Composent_Class_Input,
    .stoploss-input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.75rem;
    }

    .stoploss-toggle {
        margin-right: 0.5rem;
    }


    .stoploss-toggle-label {
        font-size: 1rem;
    }

    .multiplicator-indicator {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
    }


}