@media screen and (max-width: 500px) {
    .Radio_Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Composent_Generaux_Radio {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        width: 100%;
    }

    .Composent_SpotLevier_Radio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: green;
        height: auto;
        width: 100%;
    }

    .Composent_Generaux_Text {
        font-size: 0.9rem;
        margin: 8px;
        min-width: 80px;
    }












    .Composoent_LevierButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .Composent_Trading_Button {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .Composent_Staking_Button {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        width: 85%;
    }

    .Composent_TradingButton_Selection {
        font-size: 15px;
        padding: 0 20px 0 20px;
        flex-grow: 1;
        max-width: calc(100% / 4);
    }

    .Composent_TradingButton_Selection_Staking {
        font-size: 14px;
        margin: 0px 9px 0px 5px;
        flex-grow: 1;
        max-width: calc(100% / 4);
        white-space: nowrap;
    }

    .Composent_Tranding_Range_General {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .Composent_Trading_Range {
        width: 90%;
        margin: 0 auto;
        display: block;
    }



    .Composent_Input_ClassBOX {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }
}